# 1. Игнорируем всё
*

# 2. Разрешаем корневые файлы
!.gitignore
!package.json
!vitest.config.js
!README.md

# 3. Разрешаем папки и их содержимое
!src/
!src/**
!www/
!www/**
!hmr/
!hmr/**

# 4. Исключения внутри hmr
hmr/package-lock.json
hmr/node_modules/

