# 1. Игнорируем абсолютно всё по умолчанию
*

# 2. Разрешаем корневые файлы
!.gitignore
!package.json
!vitest.config.js

# 3. Разрешаем папки (чтобы Git мог зайти внутрь)
!src/
!www/
!hmr/

# 4. Внутри hmr разрешаем всё, кроме node_modules и lock-файла
!hmr/**
hmr/package-lock.json
hmr/node_modules/
